<h1> Welcome <%=@user.username%> </h1>

<div>
    <h3>Your Buildings:</h3>
        <% @user.uniq_buildings.each do |b| %>
        <%=link_to b.name, building_path(b) %> <br/>
        <% end %>
</div>

<br>
<br>

<div>
    <%=link_to "Add a Unit", new_unit_path, class: "button" %>
</div>